@using Megastore.Helpers
@model Megastore.ViewModels.FilterNavigation

@{
    var msHelper = new Helper();
    var query_values = new Dictionary<string, object>();
    this.Request.QueryString.CopyTo(query_values);
}

<div>
    <div class="panel panel-primary">
        <h3 class="panel-heading">Brand</h3>
        <div class="panel-body fixed-panel">
            <ul>
                @foreach (var brand in Model.brands) {
                    <li>
                        @Html.ActionLink(@brand.Name, "ListAsync", msHelper.MergeIn(query_values, new { brand = brand.Name, Id = Model.categoryId }))
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <h3 class="panel-heading">Size</h3>
        <div class="panel-body fixed-panel">
            <ul>
                @foreach (var size in Model.sizes) {
                    <li>
                        @Html.ActionLink(@size.Name, "ListAsync", msHelper.MergeIn(query_values, new { size = size.Name, Id = Model.categoryId }))
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <h3 class="panel-heading">Gender</h3>
        <div class="panel-body fixed-panel">
            <ul>
                @foreach (var gender in Model.genders) {
                    <li>
                        @Html.ActionLink(@gender.Name, "ListAsync", msHelper.MergeIn(query_values, new { size = gender.Name, Id = Model.categoryId }))
                    </li>
                }
            </ul>
        </div>
    </div>
</div>