<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="phone text-left">Order Online Call Us (555) 555-5555</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <ul class="list-inline">
                        <li class="list-inline-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="list-inline-item">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="list-inline-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <!--Use FilterParameer model to send data to search controller-->
                    @Html.TextBox("search")
                    <input type="submit" name="submit" value="Search" id="search-submit"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
